<%
  barnabas_doctors = [
    "Doantrang T Du MD",
    "Jehad E Saliba MD",
    "Francis J Gialanella MD",
    "Anthony Carlino MD",
    "Zorica J Mercadante MD",
    "Fariborz Rezai MD",
    "Jarrett Tosk MD",
    "Kenneth M Granet MD, FACP",
    "Paul V Dell'Aquila MD",
    "Mark E Gilder MD",
    "Sharon F Gonzales MD",
    "Richard J Solomon MD",
    "Sajjad A Zaidi MD",
    "Zalman R Schrader MD",
    "Vanessa Trespalacios MD",
    "Maria B Viscuso MD",
    "Joel S Mendelson MD",
    "M. Michele Blackwood MD",
    "Silvia Pinel-Villalobos DO",
    "Kristen Schwall MD",
    "David J Sharon MD",
    "Eva Mehta DO",
    "Paul W Barnickel MD",
    "Rajkumar R Singh MD",
    "Joseph M Kyrillos MD",
    "Bruce J Haik MD",
    "Eduardo W Samaniego MD",
    "Russell J Cornell MD",
    "Harold Chafkin MD",
    "John Merlino, III DO",
    "William M Schulman MD",
    "Shirley B Fisch MD",
    "Joseph Clemente MD, FACC",
    "James P McDermott DO",
    "Devang A Gandhi MD",
    "Marianna L Kiselev MD",
    "A. Michael Molina MD",
    "Michael J Disciglio MD, FACP",
    "Dennis J Brenner MD",
    "Steven A Culbert MD",
    "Kirk M Kerensky MD",
    "George Trim MD",
    "Camille D Walker MD",
    "John D Morton MD",
    "Jonathan E Teitelbaum MD, FAAP",
    "Shamim Saeed MD",
    "Stephen M Theccanat MD",
    "Lawrence W Silvers MD",
    "William C Sloan MD",
    "Milia A Ghaly MD",
    "Gerlando V Parisi MD",
    "Elie Y Chakhtoura MD",
    "Carlos G Molina DO",
    "Matthew P Askin MD",
    "Ajay S Shah MD",
    "Margaret W Fang MD",
    "Tina S Rakitt MD, FAAP",
    "Kenneth M Cahill DO",
    "Audrey B Radin MD",
    "Donald J Brock MD",
    "Anthony J Ricca MD",
    "Sunit B Desai MD",
    "Martin P Michalewski MD",
    "Khalil M Suaray MD",
    "Keith A Hawthorne MD",
    "Sarah S Schaefer MD",
    "Barbara E Courtney MD",
    "Robert L Zanni MD, FAAP, CPI",
    "Peter M Lenchur MD",
    "Alvin M Schmidt MD",
    "Russell A Gross MD",
    "Sarah Y Fan MD",
    "Felix A Geller MD",
    "Ellen J Rosen MD",
    "Kevin F Clancy MD",
    "Uzma N Hasan MD",
    "Nisha Malik MD",
    "David P Dobesh MD",
    "Delia J Dobrescu MD",
    "David M Wallace MD",
    "Paul G Saccone MD",
    "Arshad Siddiqui MD",
    "Glenn P Jacobs MD",
    "Gautam J Desai MD",
    "Francis P Sunaryo MD",
    "Pranathi Mandadi MD",
    "Eric M Jackson MD",
    "Yelena Samofalov MD",
    "Burton Mayrowetz MD",
    "Smita S Shah MD",
    "Kenneth J Adessa MD",
    "Shabnam Gupta MD",
    "Fadi N Chaaban MD",
    "Ellen Oppenheimer MD",
    "Muralidhar Krishnaiah MD",
    "Marc Roelke MD",
    "Jacqueline M Schwanwede MD",
    "Robert W Schuman MD",
    "Amina K Chowdhury MD",
    "Sara R Haim MD",
    "Marc S Fisk DO",
    "Elissa J Santoro MD",
    "Vivek L Bagade MD",
    "Vlady Ostrow DO, FAAP",
    "Madhavi Pamidi MD",
    "Dianne Thomas MD",
    "Sudha Ganne MD",
    "Yasmeen K Memon MD",
    "Jeanine H Bulan MD",
    "Stacey Rifkin-Zenenberg DO",
    "Arnold Williams MD",
    "Jessica A Scerbo MD",
    "Viswanathan K Tallury MD",
    "Christopher A Fabian MD",
    "Beth R Nalitt MD",
    "Nicholas Tullo MD",
    "Gary J Rogal MD",
    "Frank Castello MD",
    "Matthew A Geller MD",
    "Adam Repole MD",
    "Michael Goldfarb MD",
    "Robert Fabricant MD",
    "Rosemary P Fiore MD",
    "Eduardo U Sembrano MD, CPI",
    "Janette H McDermott MD",
    "Theresa M Redling DO",
    "John Pelligra MD",
    "Lawrence B Stein MD",
    "Bernard S Wurzel MD",
    "Danielle Haskins MD",
    "Mimi N Ton MD",
    "Alfred D Greisman MD",
    "Ashish D Parikh MD",
    "Richard B Meltzer MD",
    "Richard L Moskowitz MD",
    "Julia B Ritsan DO",
    "Alberto F Ballesteros MD",
    "Smita N Kargutkar MD",
    "Mark C Goldberg MD",
    "Spiro Malaspina MD",
    "Minal Vazirani MD",
    "Joseph S Cervone MD",
    "Amadi Rezai MD",
    "Suganthini Umakanthan MD",
    "Stephen C Amaefuna MD",
    "Seth D Cohen MD",
    "Divya Bhatia MD",
    "Christine C Tintorer MD",
    "Dorothy S Bisberg MD",
    "Donald G Rubenstein MD",
    "Ronald A Daly MD",
    "Lourdes Laraya-Cuasay MD, FCCP, FAAP",
    "Peter Farrugia MD",
    "Carl B Wallach MD",
    "Priya Sai MD",
    "Michael Bageac MD",
    "Najeeb Riaz MD",
    "Shobha A Chottera MD",
    "Shira Goldberg MD",
    "Robert S Eagle MD",
    "Sabino R Torre MD",
    "Mark S Waxman MD",
    "Lawrence S Rosenthal MD",
    "Nicholas S Guittari MD",
    "Frank P Barrows DO",
    "Debra R Tarantino MD",
    "Gita Parikh MD",
    "Sunil Sapru MD",
    "Leonard DiPisa MD",
    "Lamberto Tan MD",
    "Carl A Nath MD",
    "Michael A Samach MD",
    "Thomas E Hackett DO",
    "Sobiya Khan DO",
    "Robert J Sipzner MD",
    "Dawn Goldstein MD",
    "David Gonzalez MD",
    "Lina Shihabuddin MD",
    "Edward R Harback MD",
    "Joseph Salese MD",
    "David S Haacker MD",
    "Elizabeth C Chalom MD",
    "Robert D Orringer MD",
    "Irene Mamkin MD",
    "Richard Y Chang DO",
    "Frank Ostella DO",
    "Harvey K Bucholtz MD",
    "Eric Lehnes MD",
    "Frank Cocco MD",
    "Paul Wangenheim MD",
    "Rajneesh G Mehta MD",
    "Constantinos A Costeas MD",
    "Sanjiv Sobti MD",
    "Su H Wang MD",
    "Sumy H Chang MD",
    "Tithi Mitra MD",
    "Martin J Pontecorvo DO",
    "Carl J Postighone Jr DO",
    "Thomas G Cioce DO",
    "Alexander A Christou DO",
    "Bruce A Aronwald DO",
    "Anthony J Cioce Jr. DO",
    "Danielle Jardine MD",
    "Gurdeep S Matharoo MD",
    "Anthony J Morelli DO",
    "Punit R Jariwala MD",
    "Arnold Alday MD",
    "Andrew Boxer MD",
    "German Costa MD",
    "Juan A Gonzalez Jr. MD",
    "Stanislav Goykhman MD",
    "Steven Gronowitz MD",
    "Randa Hamadeh MD",
    "Mark Hoffman MD",
    "Richard Marki MD",
    "Sheila Nadiminti MD",
    "Rosa Neno DO",
    "Yinggang Zheng MD",
    "Robert Briganti Jr. DPM",
    "Marwa Hazzah MD",
    "Gary P Muccino MD",
    "Marina Strizhevsky DO",
    "Byong K Park MD",
    "Michael Sabido MD",
    "Mitchell Vogel MD",
    "Renee Huang MD"
];

s =  @micropost.drname

if barnabas_doctors.any? { |w| s =~ /#{w}/ } %>
  <h2 style="color:red;">This dedication contains a BHMG doctor.</h2>
  <br>
<% end %>
<p>Name: <%= @micropost.user.first_name %>&nbsp;<%= @micropost.user.last_name %></p>
<br>
<p>Email: <%= @micropost.user.email %></p>
<br>
<p>Doctor(s): <%= @micropost.drname %></p>
<br>
<p>Note: <%= @micropost.content %></p>
