<div class="container main">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <p>© 2014 Barnabas Health<p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 tos">
      <a href="https://s3.amazonaws.com/myfangate.com/drsday/drsdaytos.pdf" target="_blank"><p>Terms of Service<p></a>
    </div>
  </div>
</div>
