<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <% if user_signed_in? %>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <% end %>
      <a class="navbar-brand" href="/"><img src="https://s3.amazonaws.com/myfangate.com/ilovemydoctor/branding.png" alt=""></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <p class="navbar-text pull-right">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.first_name %>&nbsp<%= current_user.last_name %></strong>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-danger'  %>
      <% else %>
        <a class="btn btn-primary facebookbtn hidden-xs" href="/users/auth/facebook"><i class="fa fa-facebook-square"></i>Sign in with Facebook</a>
      <% end %>
      <% if admin? %>
        <%= link_to '<i class="fa fa-cog"></i>'.html_safe, admin_path, :class => 'btn btn-primary'  %>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
