<div id="registration" class="container">
  <div class="row">
    <h1>Log in</h1>
    <a class="btn-margin btn btn-lg btn-primary facebookbtn" href="/users/auth/facebook"><i class="fa fa-facebook-square"></i>Sign in with Facebook</a>
  </div>
</div>
