<%= form_for(@micropost) do |f| %>
  <% if @micropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
      <% @micropost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Hospital</label><br>
    <select id="hospital-select" class="form-control">
      <option value=" ">Please Select a Hospital</option>
      <option value="Jersey City Medical Center">Jersey City Medical Center</option>
      <option value="Children's Hospital of New Jersey">Childrens Hospital of New Jersey at Newark Beth Israel Medical Center</option>
      <option value="Community Medical Center">Community Medical Center</option>
      <option value="Clara Maass Medical Center">Clara Maass Medical Center</option>
      <option value="Monmouth Medical Center">Monmouth Medical Center</option>
      <option value="Monmouth Medical Center Southern Campus">Monmouth Medical Center Southern Campus</option>
      <option value="Newark Beth Israel Medical Center">Newark Beth Israel Medical Center</option>
      <option value="Saint Barnabas Medical Center">Saint Barnabas Medical Center</option>
      <option value="Barnabas Health Medical Group">Barnabas Health Medical Group</option>
    </select>
  </div>

  <div class="field">
    <label>Doctor's Name(s)</label><br>
    <%= f.text_field :drname %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
    <%= f.hidden_field :user_id %>
  <div class="actions">
    <%= f.submit ( f.object.new_record? ? "Add a Note" : "Update"), :class => "btn btn-danger" %>
  </div>
<% end %>
