<div id="post" class="container">
<h1>Edit Your Thanks</h1>

<%= render 'form' %>

<div class="show-btns">
<%= link_to '<i class="fa fa-eye"></i> View'.html_safe, @micropost, :class => "btn btn-default" %>
<%= link_to '<i class="fa fa-home"></i> Home'.html_safe, root_path, :class => "btn btn-default" %>
</div>
</div>
