<div id="post" class="container">
  <div class="row">
    <div class="col-lg-12 main-logo">
      <img class="img-responsive" src="https://s3.amazonaws.com/myfangate.com/drsday/banner.jpg">
    </div>
  </div>
  <div class="micropost" data-id="<%= @micropost.id %>">
    <div class="bubble">
      <h4>To: <%= @micropost.drname %></h4>
      <p><%= @micropost.content %></p>
    </div>
    <br>
    <div class="userandbuttons">
      <% if @micropost.user == nil %>
        <p class="usertext"><i class="fa fa-user"></i><%= @micropost.first_name %> <%= @micropost.last_name %><p>
      <% else %>
        <p class="usertext"><i class="fa fa-user"></i><%= @micropost.user.first_name %> <%= @micropost.user.last_name %><p>
      <% end %>
    </div>
    <div class="show-btns">
     <a class="btn btn-primary fb-share facebookbtn2"><i class="fa fa-facebook-square"></i> Share</a>
      <%= link_to '<i class="fa fa-home"></i> Home'.html_safe, root_path, :class => "btn btn-success" %>
      <% if user_signed_in? && (@micropost.user == current_user || admin?) %>
        <%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_micropost_path(@micropost), :class => "btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>
