/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$green : #85a0cb;
/*BOOTSTRAP VARIABLES*/
$brand-danger: #c0392b;
$brand-primary: #0f3c73;
$brand-success: $green;
$link-hover-color: white;
$navbar-default-bg: #fff;
$pagination-bg: #fff;
$pagination-border: #ccc;
$pagination-border-radius: 15px;
$pagination-active-bg: #094780;
$pagination-hover-bg: #608bb2;
$pagination-active-color: #fff;

/*BOOTSTRAP IMPORT*/
 @import "bootstrap-sprockets";
 @import "bootstrap";
