$green : #85a0cb;

@font-face {
    font-family: 'berthold_akzidenz_grotesk_bRg';
    src: font-url('berthold-akzidenz-grotesk-be-condensed.eot');
    src: font-url('berthold-akzidenz-grotesk-be-condensed.eot?#iefix') format('embedded-opentype'),
         font-url('berthold-akzidenz-grotesk-be-condensed.woff2') format('woff2'),
         font-url('berthold-akzidenz-grotesk-be-condensed.woff') format('woff'),
         font-url('berthold-akzidenz-grotesk-be-condensed.ttf') format('truetype'),
         font-url('berthold-akzidenz-grotesk-be-condensed.svg#berthold_akzidenz_grotesk_bRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
html *
{
  font-family: 'berthold_akzidenz_grotesk_bRg';
  letter-spacing: .02em;
}
body{
  margin-top: 120px !important;
  background-color: #0f3c73 !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-image: url(https://s3.amazonaws.com/myfangate.com/drsday/wallpaper.jpg) !important;
  p,a, h1{
    color: $green;
    font-family: 'berthold_akzidenz_grotesk_bRg';
  }
}

.alert{
  margin-top: -32px;
  max-width: 1170px;
  margin: -20px auto 32px auto;
  text-align: center;
  border-radius: 15px;
}
.main-logo{
  margin: 30px auto;
  text-align: center;
  padding: 0 !important;
  background-image: url(https://s3.amazonaws.com/myfangate.com/drsday/clouds.jpg);
  background-size: cover;
  img{
    width: 100%;
  }
}

nav.navbar.navbar-default{
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    border-radius: 0 !important;
}

#main, .main{
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
  margin-bottom: 100px;
  background-color: white;
  box-shadow: 5px 5px 20px rgba(0,0,0,.5);
}


.pagination{
  margin-top: 100px;
}

#searchzone{
  text-align: center;
  margin: 0 auto;
  i{
    font-size: 23px;
    padding-right: 5px;
  }
  .btn{
    margin-bottom: 3px;
  }
}

.navbar-text.pull-right strong{
  padding-right: 20px;
}

#search{
  border-radius: 5px;
  height: 35px;
  border: 1px solid #ccc;
  padding: 5px;
  width: 100%;
  max-width: 500px;
}

.field_with_errors{
  width: 100%;
}

.paginate{
  text-align: center;
}

.micropost{
  margin: 0 auto;
  .bubble{
    margin: 0 auto;
  }
  .userandbuttons{
    margin: 0 auto;
    max-width: 600px;
    height: 50px;
    margin-bottom: 40px;
    border-bottom: solid 1px #ccc;
    p.usertext{
      float: left;
      font-size: 15px;
      line-height: 30px;
      i{
        padding: 0 10px;
        font-size: 25px;
      }
    }
    p.buttongroup{
      float: right;
    }
  }
}

.row.indexh1{
  max-width: 600px;
  margin: 0 auto;
}

.admin-trash{
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  text-align: right;
}

.main-cta{
  max-width: 600px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px !important;
  font-size: 30px !important;
  i{
    font-size: 30px !important;
  }
}

.lg-fb{
  max-width: 600px;
  width: 100%;
  font-size: 30px !important;
  i{
    font-size: 30px !important;
  }
}


.facebookbtn2{
  background-color: #3B5998 !important;
  border-color: #8b9dc3 !important;
}

//Bubbles//

  .bubble {
    position: relative;
    max-width: 600px;
    width: 100%;
    height: 190px;
    padding: 10px;
    background: #FFFFFF;
    border: #D1D1D1 solid 1px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(97, 97, 97, 0.32);
    -moz-box-shadow: 2px 2px 10px 0px rgba(97, 97, 97, 0.32);
    box-shadow: 2px 2px 10px 0px rgba(97, 97, 97, 0.32);
    p{
      color: black;
      padding: 0 20px;
    }
}

  .bubble:after {
    content: "";
    position: absolute;
    bottom: -14px;
    right: 534px;
    border-style: solid;
    border-width: 14px 14px 0;
    border-color: #ffffff transparent;
    display: block;
    width: 0;
    z-index: 1;
}

  .bubble:before {
    content: "";
    position: absolute;
    top: 189px;
    right: 534px;
    border-style: solid;
    border-width: 14px 14px 0;
    border-color: #D1D1D1 transparent;
    display: block;
    width: 0;
    z-index: 0;
}
// End Bubbles //


//Admin CSS //

.admin{
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 20px rgba(0,0,0,.5);
  h1{
    padding-left: 20px;
  }
  table{
    margin: 20px auto;
    max-width: 1000px;
  }
}

//Registration CSS //

.facebookbtn{
  background-color: #3B5998 !important;
  border-color: #8b9dc3 !important;
  i{
    padding-right: 10px;
    font-size: 20px;
  }
}

#registration{
  padding: 20px;
  border-radius: 15px;
  border: solid 1px #ccc;
  margin-bottom: 100px;
  max-width: 700px;
  background-color: white;
  box-shadow: 5px 5px 20px rgba(0,0,0,.5);
  .bubble{
    margin-top: 50px;
  }
  .show-btns{
    margin-bottom: 50px;
  }
  form, h1{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  h1{
    padding: 20px 0;
    text-align: left !important;
  }
  .row{
    text-align: center !important;
    margin: 0 auto !important;
  }
  input#user_password,
  input#user_password_confirmation,
  input#user_email,
  input#user_first_name,
  input#user_last_name,
  input#user_current_password{
    width: 100%;
    max-width: 500px;
    text-align: left;
  }
  input{
    margin-bottom: 10px;
  }
  .reglabel{
    width: 100%;
    max-width: 500px;
    text-align: left;
  }
}

.actions{
  text-align: center;
}






//Media Queries //

@media (max-width: 770px) {
  .navbar-brand img{
    margin-top: -7px;
  }
}

@media (max-width: 600px) {
  .bubble:before, .bubble:after {
    right: auto;
    margin-left: 20px;
  }
  .main-cta{
    font-size: 20px !important;
  }
}

@media (max-width: 440px){
  p.buttongroup{
    .btn{
      font-size: 10px !important;
    }
  }
  .navbar-text.pull-right{
      font-size: 10px !important;
  }
}


//anchor tags//

.anostyle:hover{
  background-color: white;
  color: black;
}

.tos{
  text-align: right;
}

.importfield{
  width:300px;
  display: inline !important;
  margin: 0 auto;
}

//login button//
.btn-margin{
  margin-bottom: 30px !important;
}

//header//
.physicians, .thanks, .jersey{
  text-shadow: 0px 0px 8px rgba(0, 0, 0, .7);
}

.physicians{
  margin-bottom: -10px;
  font-size: 50px;
  color: white;
  padding-top: 20px;
}
.thanks{
  font-size: 170px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0 !important;
  color: white;
}
.jersey{
  margin-top: -20px;
  font-size: 40px;
  color: white;
  padding-bottom: 20px;
}
.alert{
  font-size: 20px;
}

.csv-upload{
  margin-top: 10px;
  border-radius: 5px;
  color: white;
  background-color: #094780;
  border-color: #073a68;
  form{
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 640px){
  input#search{
    width: 150px !important;
  }
}

input[type="file"]{
  width: 100% !important;
}
