// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#s2id_micropost_drname, #micropost_content{
  width: 100% !important;
}
#micropost_content{
    min-height: 200px;
}

.show-btns{
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

#post{
  padding-top: 20px;
  border-radius: 15px;
  margin-bottom: 100px;
  background-color: white;
  box-shadow: 5px 5px 20px rgba(0,0,0,.5);
  .show-btns{
    margin-bottom: 50px;
  }
  form, h1{
    max-width: 600px;
    margin: 0 auto;
  }
  h1{
    padding: 20px 0;
  }
}

a.btn.btn-danger:visited,
a.btn.btn-primary:visited,
a.btn.btn-success:visited{
  color: white;
}

#hospital-select{
  border: 1px solid #aaa;
}

.bubble{
  margin-top: 50px;
  h4{
    font-size: 25px;
  }
  p{
    font-size: 18px;
  }
}
