<!DOCTYPE html>
<html>
<head>
  <title>Doctor's Day</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.1/select2.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <script>window.fbAppId="<%= ENV['APP_ID'] %>";</script>
  <script>window.analyticsId="<%= ENV['ANALYTICS_ID'] %>";</script>
  <%= csrf_meta_tags %>
  <div id="fb-root"></div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', analyticsId , 'auto');
  ga('send', 'pageview');

  </script>
<meta property="og:image" content="https://s3.amazonaws.com/myfangate.com/drsday/facebookshare-img.jpg" content="thumbnail_image"/>
<meta property="og:image:width" content="100" />
<meta content="width=device-width" name="viewport">

</head>
<body>

<%= render "partials/navbar" %>

<!-- Alerts -->
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<!-- ******** -->


<%= yield %>
<%= render "partials/footer" %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.1/select2.js"></script>
<script>
// take all events from session and convert to javascript google analytics event tracking
<% each_event do |category, action| %>
  track("<%= category %>", "<%= action %>");
  // ga.push("<%# event %>");
<% end %>
</script>
</body>
</html>
